PORT=5051
FRONTEND_URL=http://localhost
APP_LOGIN_USERNAME=admin
APP_LOGIN_PASSWORD=admin123
JWT_SECRET=secret-baru-anda

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzp44CMuzoW6LZG0Hj1EAAR6E9MVbKq8ld8iAdRyntH5FrMjNaolbS466saBIVNePcG/exec
GOOGLE_SHEETS_SPREADSHEET_NAME=Tb_log_aktivitas
GOOGLE_SHEETS_SHEET_NAME=tb_admin
GOOGLE_SHEETS_SHEET_NAME=tb_user
GOOGLE_SHEETS_SHEET_NAME=log_aktivitas