PORT=5051
FRONTEND_URL=http://localhost:5173,http://localhost:5174
APP_LOGIN_USERNAME=admin
APP_LOGIN_PASSWORD=admin12
JWT_SECRET=secret-baru-anda

GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxxQ-Vu0zgCIPt6zJZMkcwUuyPIleE3NlOKcmnTxlZemHZkWDLyrcds5LC2IcMCH-Av/exec
GOOGLE_SHEETS_SPREADSHEET_NAME=Tb_log_aktivitas
GOOGLE_SHEETS_SHEET_NAME=log_aktivitas
